<?xml version="1.0" encoding="UTF-8"?>
<web-app
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>FTCS</display-name>
  <display-name>Football Tweets Custering System</display-name>
	
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/dispatcher-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	 <servlet>
  	<description>
  	</description>
  	<display-name>MainServiceServlet</display-name>
  	<servlet-name>MainServiceServlet</servlet-name>
  	<servlet-class>com.metu.se560.servlet.MainServiceServlet</servlet-class>
  	  	<init-param>
  		<param-name>consumerKey</param-name>
  		<param-value>JlHhZVSAtUUP8gATDHO45Q</param-value>
  	</init-param>
  	<init-param>
  		<param-name>consumerSecret</param-name>
  		<param-value>UYzestiqpNSOZMiQn7ykE2fM0HMUQrxsgWv6wJ8ju6U</param-value>
  	</init-param>
  	<init-param>
  		<param-name>token</param-name>
  		<param-value>349505740-ggtBUGE9kCfLz3FAEld6EjXGhl1umLxz5YOtiQt1</param-value>
  	</init-param>
  	<init-param>
  		<param-name>secret</param-name>
  		<param-value>r6Q5lrHpIv3JdsmA5kcdKOxmMCeKsh1BO6X3xsa3HflOr</param-value>
  	</init-param>
  	
  	<init-param>
  		<param-name>live</param-name>
  		<param-value>1</param-value>
  	</init-param>
  	

   	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MainServiceServlet</servlet-name>
  	<url-pattern>/MainServiceServlet</url-pattern>
  </servlet-mapping>
  
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
